@model AccessControlPortal.Models.Pessoa

@{
    ViewData["Title"] = "Index";
}

    <h1>Acesso ao condomínio</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<p>Verifique se a pessoa já possui cadastro. Caso possua, você será redirecionado para a página Conceder Acesso. Caso não, primeiramente terá que cadastrá-la</p>
<hr />

<div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Digite o CPF da pessoa sem pontos e traços</label>
                <input class="form-control" id="cpf"/>
                <span class="text-danger"></span>
            </div>
        </div>
        <div>
            <button onclick="CheckCpf()" style="margin-top: 35px";>Verificar</button>
        </div>
    </div>

@section Scripts{
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
       <script>
           $(document).ready(function () {
               var $seuCampoCpf = $("#cpf");
               $seuCampoCpf.mask('000.000.000-00', { reverse: true });
           });

           function CheckCpf() {
               var cpf = $("#cpf").cleanVal();
               $.ajax({
                   type: "POST",
                   url: "@Url.Action("Details", "Pessoa")",
                   data: { cpf: cpf },
                   dataType: 'json',
                   contentType: "application/x-www-form-urlencoded",
                   success: function (url) {
                       window.location.href = url;
                   },
                   error: function (url) {
                       window.location.href = url;
                   }
               })
           }
       </script>
    }
